* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores */
  --brand-color-ligth: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* Fontes */
  --font-family: 'Archivo', sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h1: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  font: var(--text);
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-ligth);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 32px;
}

/* Utility-first CSS uma classe que vai fazer apenas uma coisa*/
.grid {
  display: grid;

}

.grid-flow-col {
  grid-auto-flow: column;
}